@charset "UTF-8";
/* CSS Document */
body {
	text-align: center;
	color: white;
	background-image: linear-gradient(#002E67, aqua);
	background-repeat: no-repeat;
padding-top: 20px;
	height: 900px;
	
}

h2 {
	text-shadow: 1px 1px 2px #020202;
}
h1 {
	text-shadow: 2px 2px 4px #020202;
}


 #2 {
border: black 5px solid;
}
 

div {
    display: none;
}

a:hover + div {
    display: block;
}



 #1 {
display: none; /* hides content */
border: black 5px solid;

}

a {
	padding-right:60px;
padding-left:60px;
	padding-top:10px;
	padding-bottom:20px;
    
	margin: 10px;
	font-size: 120%;
	background-color: #000533; 
	color:  white; 
}
a:hover {
	font-size:120%;
	background-color: darkorange; 
	color: white; 
}
.choices {
cursor: pointer;
}