@charset "UTF-8";
/* CSS Document */
body {
	

text-align: center;
	
color: white;
background-image: linear-gradient(#002E67, aqua);
background-repeat: no-repeat;
padding-top: 20px;
	height: 900px;

}


#wrapper {
	width:900px;
	height: 600px;
	padding-top: 30px;
	
	margin:0 auto;         /* centers wrapper */
 	text-align:center;
	background-color: rgba(255, 255, 255, 0.8);  /* creates white background with 80% opacity */
}

table {
	
	margin:0 auto;  /* centers table*/
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgba(255, 255, 255, 0.8);
}

td {
	
	background-color: white;  /* sets background color for table cells*/
	
	
	color: black;

}

h1 { 
	text-align:center;     /* centers h1 and h2 content */
	padding-bottom: 20px;
	
}

audio { 
	width:200px;   /* sets the width of the audio controls */
}



a {
	padding-right:60px;
padding-left:60px;
	padding-top:5px;
	padding-bottom:30px;
    
	margin: 10px;
	font-size: 120%;
	background-color: #000533; 
	color:  white;
	

}

a:hover {
	font-size:120%;
	background-color: darkorange; 
	color: white; 
}
h1{
	font-size: 50px;
	margin-top: 5px;
	text-shadow: 2px 2px 8px black;	
}
